<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ドットアクセス</title>
</head>
	<body>
		<h1>テンプレート変数のドットアクセス</h1>
		<section>
			<h2>連想配列の要素</h2>
			<p>{{item.name}}</p>
		</section>
		<section>
			<h2>クラスのpublicプロパティ</h2>
			<p>{{dotAccessData.deptName}}</p>
		</section>
		<section>
			<h2>クラスのメソッド</h2>
			<p>{{dotAccessData.makeMessage}}</p>
		</section>
		<section>
			<h2>ゲッタの戻り値</h2>
			<p>{{dotAccessData.csName}}</p>
		</section>
		<section>
			<h2>判定メソッドの戻り値</h2>
			<p>{{dotAccessData.flgOn}}</p>
		</section>
		<section>
			<h2>存在確認メソッドの戻り値</h2>
			<p>{{dotAccessData.middleParam}}</p>
		</section>
		<section>
			<h2>存在しない値</h2>
			<p>{{mue}}</p>
		</section>
	</body>
</html>
